.footer-wrapper {
    width: 100%;
    height: calc(100% - 4.5rem);
    top: 4.5rem;
    left: 0;
    background-color: #404040;
    margin-top: 3rem;
}

.footer-section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.section0 { 
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
}

.section0 > .default-content-wrapper {
    margin-left: 3rem;
    margin-top: 2.6rem;
}

.section1 { 
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
}

.section1 > .default-content-wrapper {
    display: flex;
    color: white;
    padding-bottom: 3rem;
}

.section1 > .default-content-wrapper p {
    margin-right: 3rem;
    margin-top: 2.6rem;
    overflow: hidden;
    white-space: nowrap;

    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: "HelveticaNeue",Helvetica,sans-serif;
    letter-spacing: .1px;
}

.section2 {     
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    justify-self: end;
}

.section2 > .default-content-wrapper {
    display: flex;
    color: white;
    margin-right: 3rem;
}

.section2 > .default-content-wrapper p:not(:last-child) {
    margin-right: 1.5rem;
}

.section2 > .default-content-wrapper p {
    transition: transform .2s;
}
.section2 > .default-content-wrapper p:hover {
    transform: scale(1.2);
}

.section3 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    justify-self: end;
}

.section3 > .default-content-wrapper {
    margin-right: 3rem;
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: "HelveticaNeue",Helvetica,sans-serif;
    letter-spacing: .1px;
    text-align: right;
}
